@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #2b192f;
  color: white;
  font-family: "Montserrat";
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  background: url("./images/pexels-mikhail-nilov-6835950.jpg");
  background-size: cover;
}

.wrapper {
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

header .logo {
  font-weight: bold;
}

header ul {
  display: flex;
}

header ul li a {
  padding: 0 0.6rem;
}

.hero-content {
  margin: 4rem 0 2rem;
}

.subtitle {
  margin-bottom: 0;
}

.light-purple-wrapper {
  background: #351f3a;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}

.stats li {
  margin: 0 0.5rem 1.5rem 0;
}

.stats strong {
  font-size: 1.4rem;
}

.stats p {
  margin: 0;
  font-size: 0.85rem;
}

.arrows {
  display: none;
}

.extended-wrapper {
  padding: 0 1.5rem 2rem;
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
}

.carousel {
  margin-bottom: 1rem;
}

.carousel li {
  background: #422847;
  padding: 1rem;
  margin-bottom: 1rem;
}

blockquote {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

cite {
  color: #e379ff;
  font-weight: bold;
  font-size: 0.8rem;
  font-style: normal;
  position: relative;
  padding-left: 25px;
}

cite::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 6px;
  height: 1px;
  width: 20px;
  border-bottom: 1px solid white;
}

h2 {
  text-align: center;
  position: relative;
}

h2::before {
  content: " ";
  position: absolute;
  top: -0.3rem;
  height: 5px;
  width: 30px;
  background: #8728dc;
}

.companies {
  text-align: center;
  opacity: 0.4;
}

.companies li {
  margin: 2rem 0;
}

.abc {
  width: 200px;
}

.xyz {
  width: 200px;
}

@media (min-width: 500px) {
  .companies {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 650px) {
  .body {
    font-size: 18px;
  }

  .wrapper {
    padding: 1.5rem 4rem;
  }

  .carousel-container {
    display: flex;
  }

  .arrows {
    display: block;
    width: 40px;
    cursor: pointer;
    margin: 0.5rem;
  }

  .arrows-left {
    transform: rotateZ(180deg);
  }

  .carousel {
    display: flex;
    margin-bottom: 0;
  }

  .carousel li {
    margin-right: 1rem;
    margin-bottom: 0;
    padding: 2rem;
  }

  .carousel li:last-child {
    margin-right: 0;
  }

  .companies {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 853px) {
  body {
    font-size: 20px;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .companies {
    grid-template-columns: repeat(4, auto);
  }
  h1 {
    font-size: 2.5em;
  }
  .subtitle {
    font-size: 1.2em;
  }
  h2 {
    text-align: left;
    font-size: 2em;
  }
  .v-padding {
    padding: 4em;
  }

  .light-purple-wrapper {
    padding-bottom: 4em;
  }
  .move-up {
    margin-top: -7em;
  }
}

@media (min-width: 1200px) {
  .stats li {
    border-right: 1px solid rgb(124, 89, 148);
    padding-right: 5%;
  }

  .stats li:last-child {
    border: 0;
  }
}
